*{
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    overflow: hidden;
    margin:0;

}
.bg{
    background-image: url('2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);

}
.loading-text{
    font-size: 50px;
    color: #fff;

}